<!DOCTYPE html>
<html>
  <body>
    <h1><%= title %></h1>

    <form action="create/new" method="POST">
      Movie Name: <input type="text" name="moviename" /> Language:
      <input type="text" name="language" /> Genres:
      <input type="text" name="genre" />

      <br /><br />
      <input type="submit" value="Create" />
    </form>

    <br />
    <a href="/menu">Back To Menu</a>
  </body>
</html>
